@media only screen and (min-width: 768px) and (max-width: 1024px){
    .view-id-cabro_ppr_portfolio .view-content {
        position: relative;
        overflow-y: auto;
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px){
    .view-id-cabro_ppr_portfolio .view-content {
        position: relative;
        overflow-y: auto;
        margin-bottom: 20px;
    }
}

#our-workplace-area { 
    padding-top: 30px;
    padding-bottom: 50px;
}

#our-workplace-area .cas-card .card-image img {
width: auto;
}
#our-workplace-area .cas-card .card-title a {
    text-decoration: none;
    font-size: 17px;
    color: #036;
    font-weight: 600;
    line-height: 15px;
}
    #our-workplace-area .cas-card .card-title {
        margin-top: 12px;
        margin-bottom: 12px;
        min-height: 52px;
    }
    #our-workplace-area .cas-card .card-desc { 
        padding-right: 22px;
    }
    #our-workplace-area .cas-card .card-desc p {
        font-family: "BCSans";
        text-align: left;
        font-size: 16px;
        color: #656666;

    }
 .quick-link-bg {
    background-image: url(https://images.ctfassets.net/nnc41duedoho/gs8JUmDuEi2y6gJyoMFP2/3128c81ed9801dfe9b749e75bc1ce81d/locatorbg-min.png);
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
 }
 #quick-whole {
    padding: 2.5rem;
    background-color: #FFF;
    border-radius: .75rem;
    box-shadow: 0px 0px 22.5px 2.5px rgba(0, 0, 0, 0);
 }   