@media only screen and (min-width: 768px) and (max-width: 1024px)  {
    .banner-image .img-fluid {
        width: 100% !important;
        min-height: 400px;
    }
    #our-workplace-area .right-workplace  {
        margin-top: 50px !important;
    }
    #performance-report-area .right-performance  {
        margin-top: 50px !important;
    }
    .subscribe-text input.btn {
        padding: unset;
        width: 100%;
    }
    .region-service-plan {
        display: unset;
    }
    div#block-cas-views-block-quick-links-service-plan {
        width: 100% !important;
    }
    .tools h2 {
             font-size: 18px;
      
    }
}   