
@media (min-width: 0px) and (max-width: 767px) {

    #navigation-menu #block-cas-headermenu-3 {
        display: block;
    }
    .additional-details #block-cas-headermenu-2 {
        display: none;
    }
    #navigation-menu {
        background:unset !important;
    }

   #block-cas-headermenu-3 ul.nav.navbar-nav {
        flex-direction: unset;
        margin-left: 20px;
    }
    #block-cas-headermenu-3 li.nav-item {
        margin-right: 36px !important;
    }
    #block-cas-headermenu-3  .navbar-nav li:nth-child(1)::before {
        content: "";
        background: url(..//images/Support-mob.png)no-repeat;
        position: absolute;
        width: 25px;
        height: 25px;
        margin-left: -27px;
        margin-top: 2%;
    }
    #block-cas-headermenu-3 .navbar-nav li:nth-child(2)::before {
        content: "";
        background: url(..//images/service-mob.png)no-repeat;
        position: absolute;
        width: 25px;
        height: 25px;
        margin-left: -27px;
        margin-top: 2%;
    }
    #block-cas-headermenu-3 .navbar-nav li:nth-child(3)::before {
        content: "";
        background: url(..//images/contact-mob.png)no-repeat;
        position: absolute;
        width: 25px;
        height: 25px;
        margin-left: -27px;
        margin-top: 2%;
    }
    #block-cas-headermenu-3 .navbar-nav li:nth-child(2)::after, 
    #block-cas-headermenu-3 .navbar-nav li:nth-child(3)::after {
        content: "|";
        position: absolute;
        transform: translateY(-100%);
        margin-left: -38px !important;
        font-size: 17px;
    }
    #navigation-menu a {
        font-size: 12px !important;

    }
    a#superfish-main-toggle {
        width: 34px;
        height: 27px;
        font-size: 0px;
        background: url(../images/toggle.png) no-repeat;
        display: block;
        position: absolute;
        right: 15px;
        z-index: 999999;
        margin-top: -18px;
    }

    .sf-accordion-toggle a.sf-expanded {
        background: url(../images/close-mob.png) no-repeat !important;
        width: 45px !important;
        height: 46px !important;
        margin-top: -18px;
        position: fixed !important;
    }
    ul#superfish-main-accordion {
        background:#FCBA19;
        z-index: 1111;
        margin-top: -52px;
        position: fixed;  
        width: 100%;
        height: 100%;

    }
    .additional-details #superfish-main-accordion li#main-menu-link-contentb2ad08fe-36a9-4676-bb04-fc1ef0ce603c-accordion {
        margin-top: 80px;
    }
    #superfish-main-accordion li a {
        text-decoration: none;
        font-size: 16px;
        line-height: 28px;
        padding: 0.5em 5%;
        border-top: 1px solid #303030;
        width: 91%;
        margin-left: 15px;
    }
    #superfish-main-accordion > li:first-child > a {
        border-top: unset !important;
    }

    #superfish-main-accordion a::before {
        content: "• ";
        margin-right: 5px;
        font-size: 20px;
        color: #fff;
        margin-left: 9px;
    }
    .additional-details {
        padding-left: unset;
        padding-right: unset;
    }
   
    #navigation-menu div#block-cas-mainnavigation {
        display: none;
    }
    .additional-details #block-cas-mainnavigation-2 {
        display: block !important;
    }
    .additional-details #search-block-form input#edit-keys {
        display: none;
    }
    .additional-details {
     
        justify-content:unset !important;
    }
    .additional-details .navbar-nav a.nav-link {
        font-size: 12px;
    }
    .additional-details .navbar-nav li {
        margin-right: 26px !important;
    }

    .footer {
       padding: unset !important;
    }
    .footer-left {
        padding-left: unset !important;
    }
   .newslatter-right {
        overflow: hidden;
    }
    .banner {
        overflow: hidden;
    }
    .image-border:before, .image-border:after {
   
        width:unset !important;
     
    }
    .imageleftside:before, .imagerightside:before, .imageleftside:after, .imagerightside:after {
         width: 12.6rem !important;
 
    }

    /* kishan */
    
    .banner-title a {
        font-size: 30px;
        line-height: 35px; 
    }
    .banner-description {
        padding: 20px 10px;
    }
    .banner-description p {
        line-height: 29px;
    }
    .banner-body {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    div#block-cas-search-form {
        position: absolute;
        right: 50px;
        top: 25px;
        left: unset;
    }
    .header {
        padding: 15px 0px;
    }
    .additional-details {
        display: unset!important;
        justify-content: unset !important;
        margin-top: unset !important;
    }
  
    #our-workplace-area .left-workplace .image-border {
        margin: 0px !important;
    }
    #our-workplace-area .right-workplace  {
        margin-top: 50px !important;
    }
    #performance-report-area .left-permorfance .image-border {
        margin: 0px !important;
    }
    #performance-report-area .right-performance  {
        margin-top: 50px !important;
    }
    .subscribe-text input.btn {
        padding: unset;
        width: 100%;
    }
    .newslatter-left img {
        width: 100% !important;
    }
    /* About us page */
    .our-organ p {
        padding: 20px;
    }
    .right-work .work-about {
        line-height:40px;
        padding: 15px;
    }
    .view-who-we-serve .views-col {
        width: 100% !important;
    }
    .view-who-we-serve .views-col .views-field-title a {
       
        font-size: 18px;
        color: #003366;
        line-height: 18px;
        font-weight: 700;
    }
    .view-who-we-serve .views-col .views-field-title {
        padding: 13px;
        min-height: 110px;
    }
    /* Perfomance and Planing */
    #main_content_area .sidebar { 
        width: 100%;
    }
    #main_content_area #midcontent_area { 
        width: 100%;
    }
    .view-performance-planning-and-reporting .views-row .views-field-field-description img {
        width: 100%;
        height: auto;
    }
    .view-performance-planning-and-reporting .views-row .views-field-field-description { 
        padding-left: 0px;
    }
    div#block-cas-onthispage {
        display: block;
        
    }
    ul.on-this-page {
        list-style: none;
        padding-left: 0;
    }
    div#block-cas-onthispage > h2 {
        margin-bottom: 20px;
    }
    .view-performance-planning-and-reporting .views-row .views-field-field-icon {
        float: left;
        margin-right: 15px;
        margin-bottom: 0px;
    }
    .view-performance-planning-and-reporting .views-row .views-field-field-title {
        display: block;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .custom-block img.img-fluid {
        width: 228px;
        height: 89px;
        border-radius: 7px;
        background: #FFF;
        padding: 20px;
        margin-top: 70px;
    }
    .custom-block {
        text-align: center;
    }
    /* get Support and service plan */
    div#main_content_area {
        display: flex;
        flex-direction: column;
    }
    #main_content_area .sidebar {
        width: 100% !important;
        order: 2;
    }
    #main_content_area #midcontent_area {
        width: 100% !important;
        order: 1;
        margin-top: 0;
    }
    /* service plan */
    #block-cas-views-block-service-plans-block-2 {
        display: block;
        margin-bottom: 10px;
    }
    #block-cas-views-block-service-plans-block-2 h2 {
        color: #575757;
        font-size: 31px;
        text-align: center;
        margin-bottom: 15px;
    }
    #block-cas-views-block-service-plans-block-2 .view-id-service_plans {
        padding: 0px 0px 0px 0px;
        justify-content: center;
        display: grid;
    }
    .view-id-service_plans a {
        color: #036;
        font-size: 19px;
    }
    #block-cas-views-block-service-plans-block-2 .view-id-service_plans .views-row .onthis-page  a {
        color: #036;
        font-size: 16px;
    }
    #block-cas-views-block-service-plans-block-2 .view-id-service_plans .views-row {
        padding-bottom: 11px;
    }
    .view-id-service_plans {
        padding-top: 30px;
    }
    .view-service-plans .views-row .views-field-field-title {
        display: block;
        margin-bottom: 0px;
        font-size: 20px;
    }
    .view-service-plans .views-row .views-field-field-icon {
        float: left;
        margin-right: 15px;
        margin-bottom: 0px;
    }
    .view-service-plans .views-row .views-field-field-description {
        padding-left: 0px;
        font-size: 15px;
        color: #656666;
        line-height: 24px;
        padding-top: 20px;
    }
    .view-service-plans .views-row .views-field-field-description a{ 
        font-size: 15px;
    }
    /* GET support */
    #block-cas-views-block-get-support-block-2 {
        display: block;
        margin-bottom: 10px;
    }
    #block-cas-views-block-get-support-block-2 h2 {
        color: #575757;
        font-size: 25px;
        text-align: center;
        margin-bottom: 17px;
    }
    .view-get-support .views-row .views-field-field-title {
        display: block;
        margin-bottom: 0px;
        font-size: 20px;
    }
    .view-get-support .views-row .views-field-field-icon {
        float: left;
        margin-right: 15px;
        margin-bottom: 0px;
    }
    .view-get-support .views-row .views-field-field-description {
        padding-left: 0px;
        font-size: 15px;
        color: #656666;
        line-height: 24px;
        padding-top: 20px;
    }
    #views-exposed-form-cabro-ppr-portfolio-block-1 .form--inline {
        padding-left: 0;
    }
    .view-id-get_support a {
        color: #036;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
    }
    .view-id-cabro_ppr_portfolio .view-content {
        position: relative;
        overflow-y: auto;
        margin-bottom: 20px;
    }
    div#block-cas-breadcrumbs {
        justify-content: center;
        display: flex;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    /* Ppr template resources css */
    .region-service-plan {
        display: unset;
    }
    div#block-cas-pprtools {
        display: unset !important;
        border: unset !important;
    }
    #tools {
        width: 100% !important;
        border: 1px solid #E5E5E5;
        border-radius: 20px;
        margin-bottom: 40px;
    }
    .tools #block-cas-pprtools .field--name-body a {
        font-size: 14px;
    }
    #block-cas-pprtools h2 {
        text-align: center;
    }
    .service_plan {
        width: 100%;      
        padding-left: unset !important;
    }
    #block-cas-views-block-quick-links-service-plan {
        margin-right: unset;
    }
    .block-views-blockquick-links-annual-service h2 {
        font-size: 21px;
    }
    .block-views-blockquick-links-annual-service {
        margin-left: unset;        
        word-break: break-all;
    }
    body.sidebar-first #midcontent_area > #content {
        padding-left: unset;
    }
   

}

@media (min-width: 320px) and (max-width: 450px) {
    /* Banner */
    .banner-image .img-fluid {
        width: 100% !important;
        min-height: 318px;
    }
    .banner-body {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .banner-title a {
        font-size: 23px !important;
        line-height: 24px !important;
    }
    .banner-description p {
        line-height: 25px !important;
        font-size: 15px !important;
    }
    .banner-description {
        padding: 11px 10px;
    }

} 
@media (min-width: 451px) and (max-width: 767px) {
    .banner-image .img-fluid {
        width: 100% !important;
        min-height: 320px;
    }
    .banner-title a {
        font-size: 26px !important;
        line-height: 29px !important;
    }
    .banner-description p {
        line-height: 20px !important;
        font-size: 16px !important;
    }
    .banner-description {
        padding: 12px 10px;
    }
}   
@media (min-width: 320px) and (max-width: 767px) {
    /* Banner */
    .banner {
        position: relative;
        margin-bottom: 60px;
    }
     /* home page our workspace col-sm-12 col-lg-5 col-md-12, col-sm-12 col-lg-7 col-md-12 change bootstrap */
     .left-description h2 {
        font-size: 35px;
        text-align: center;
        margin-bottom: 13px;
        margin-top: 10px;
    }
    .left-description p {
        text-align: justify;
    }
    .left-description  .view-more {
        text-align: center;
    }
    #block-cas-ourworkplace {
        padding: 0rem 0 2rem;
    }
/* home page video section col-sm-12 col-lg-5 col-md-12, col-sm-12 col-lg-7 col-md-12 change bootstrap */
    #crown-secretariat-area {
        padding: 30px 0px;
    }
    .right-description h2 {
        font-size: 39px;
        text-align: center;
        margin-bottom: 13px;
        line-height: 50px;
    }
    .right-description p {
        color: #726A6F;
        text-align: justify;
        font-size: 18px;
        line-height: 35px;
    }
    #crown-secretariat-area .view-more {
        text-align: center;
    }
    /* home page Perfomance Planning section col-sm-12 col-lg-5 col-md-12, col-sm-12 col-lg-7 col-md-12 change bootstrap */
    #block-cas-performanceplanningandreporting {
        padding: 30px 0px;
    }
    .right-performance h2 {
        font-size: 35px;
        text-align: center;
        margin-bottom: 13px;
        margin-top: 10px;
        line-height: 46px;
    }
    .right-performance p {
        text-align: left;
    }
    .right-performance li {
        color: #656666;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }
    #block-cas-performanceplanningandreporting .view-more {
        text-align: center;
    }
/* home page Latest News Section news slider set margin for mobile view */
    #latest-news-area {
        padding: 2rem 0 4.5rem;
    }
    #block-cas-views-block-news-block-1 h2 {
        font-weight: 700;
        line-height: 57px;
        font-size: 32px;
    }

}

@media only screen and (min-width: 658px) and (max-width: 768px)  {
    #our-workplace-area .left-workplace .image-border {
        margin: 10px !important;
    }
} 
