/**
 * @file
 */

/** Grid. */
.view--sb .grid__content {
  position: relative;
  min-height: 64px;
  padding: 5px;
  font-size: 0;
}

.view--sb .view-list--header .grid__content {
  min-height: 32px;
}

.view--sb .grid .grid__content {
  min-height: 132px;
  padding: 0;
  border: 6px solid rgba(0, 0, 0, 0.1);
  /* background-color: #f0f0f0; */
  background-clip: padding-box;
}

.view--node .blazy--grid .grid__content {
  padding: 10px;
}

.view--sb .is-sb-info-active .grid__content {
  padding: 10px;
}

.sb .was-sb-checked .grid__content {
  border: 4px dashed rgba(0, 0, 0, 0.2);
}

.sb .is-sb-checked .grid__content {
  border-color: #ff6d2c;
}

.view--file .views-field:not(.views-field--preview, .views-field-entity-browser-select),
.view--media .views-field:not(.views-field--preview, .views-field-entity-browser-select) {
  pointer-events: none;
}

/** Info. */
.view--sb .is-sb-info-active .views-label {
  font-weight: 600;
}

.view--sb .is-sb-info-active .views-field:not(.views-field--preview) {
  display: block;
  padding: 2px 5px;
  color: #ccc;
  font-weight: 300;
  line-height: 1;
}

.view--sb .grid .views-field--preview,
.view--sb .grid .views-field--selection {
  position: relative;
}

.view--sb .is-sb-info-active .views-field--preview,
.view--sb .is-sb-info-active .views-field--selection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.view--sb .grid .views-field--preview::after,
.view--sb .grid .views-field--selection::after {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  content: "";
  pointer-events: none;
  background: rgba(0, 0, 0, 0.9);
}

.view--sb .is-sb-info-active .views-field--preview::after,
.view--sb .is-sb-info-active .views-field--selection::after {
  display: block;
}

.view--sb .is-sb-info-active .views-field a {
  color: #fff;
}

.view--sb .is-sb-info-active .media__icon {
  display: none;
}

/*
 @todo fix me
.sb.view--sb-list .views-field.visually-hidden {
  display: none;
}
*/
