/**
 * @file
 */

.sb--widget {
  overflow: hidden;
  min-height: 160px;
  background-color: #e6e5e1;
}

.is-sb-sort {
  min-height: 320px;
}

.is-sb-removeall {
  min-height: 1px;
}

.sb--widget.is-sb-empty {
  min-height: 1px;
  background-color: transparent;
}

.sb--widget img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  pointer-events: auto;
}

.sb--widget .slick-list {
  -webkit-transition: top 0.6s ease-out 0.8s, height 0.5s linear 0s;
  transition: top 0.6s ease-out 0.8s, height 0.5s linear 0s;
}

.sb--widget .grid__content,
.sb--widget .sb__content {
  min-height: 62px;
}

.sb--widget .grid .grid__content {
  border: 2px dashed #eee;
}

.sb--widget .grid:hover .grid__content {
  border-color: #999;
}

.sb--widget .grid:hover .grid__content:hover {
  border-color: #ff6d2c;
}

.sb__sortitem {
  cursor: move;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sb__placeholder {
  opacity: 0.8;
  border: 1px dotted #999;
  background-color: #ff6d2c;
}

.sb .sb__placeholder.grid {
  margin-left: 0.625rem;
  padding: 0;
}

.sb .sb__action {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 32px;
  border: 0;
}

.sb .sb__action .button-wrap {
  width: 32px;
}

.sb .sb__action .form-select {
  min-height: 24px;
}

.sb.is-sb-single .sb__action {
  top: 0;
  right: 0;
  bottom: auto;
  width: auto;
}

.is-sb-single .sb__action .button-wrap {
  position: relative;
  right: auto;
  left: auto;
  display: inline-block;
  vertical-align: top;
}

.sb .vertical-tabs {
  margin: 0;
  border: 0;
  border-radius: 0;
}

.sb > .details-wrapper {
  margin: 0; /* Claro */
  padding: 0;
}

/**
 * Sortable.
 */
.sb .sb__sortlist {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.sb .sb__sortlist {
  top: 42px;
}

.sb .sb__sortlist .sb__sortable {
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
  width: 100%;
  margin: 0;
  padding: 42px 14px;
}

.sb .sb__sortlist .sb__sortable .sb__sortitem,
.sb .sb__sortlist .sb__sortable .sb__placeholder {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
  width: 112px;
  height: 64px;
  margin: 4px;
  padding: 0;
  list-style: none;
  vertical-align: top;
  border: 1px solid #fff;
}

.sb .sb__sortlist .sb__sortable .sb__sortitem img {
  object-fit: cover;
}

.sb .sb__sortlist .sb__sortable .sb__placeholder {
  opacity: 0.8;
  border-style: dotted;
  background-color: #ff6d2c;
}

.sb .form-type-managed-file {
  margin: 0;
  padding: 14px 0;
  background-color: #fff;
}

/**
 * Visibility.
 */
.sb .sb__sortlist {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
}

.sb__display {
  position: relative;
  padding: 1rem;
}

.is-sb-empty .sb__display {
  padding: 0;
}

.is-sb-grid .sb__display,
.is-sb-column .sb__display {
  /** Trigger CSS3 Columns layout. */
  padding-bottom: 1px;
}

.sb--widget .sb__caption,
.sb .button--done,
.sb .sb__sortlist,
.sb.is-sb-sort .sb__caption,
.sb.is-sb-sort .sb__header .button,
.sb.is-sb-1 .button--caption,
.sb.is-sb-sort .button--sort,
.sb.is-sb-sort .slick__arrow,
.sb.is-sb-sort .sb__display,
.sb.is-sb-caption .slick-wrapper--tn-overlay .slick--thumbnail {
  position: absolute;
  z-index: -11;
  right: 0;
  visibility: hidden;
  opacity: 0;
}

/* .sb--widget .grid .sb__caption, */
.sb.is-sb-sort .sb__header .button.button--done,
.sb.is-sb-caption .sb__caption {
  position: relative;
  z-index: 23;
  visibility: visible;
  opacity: 1;
}

.sb.is-sb-sort,
.sb.is-sb-sort .slick {
  overflow: hidden;
}

.sb .sb__caption {
  text-align: center;
}

.sb .sb__caption .form-item {
  margin: 5px 0; /* Claro */
  text-align: left;
}

.sb .is-sb-file:not(.is-sb-text, .is-sb-1) .sb__caption {
  background-color: transparent;
}

.sb.is-sb-1 .sb__caption {
  position: absolute;
  z-index: 23;
  top: 0;
  left: 0;
  visibility: visible;
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 30px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.sb.is-sb-1 .sb__caption label,
.sb.is-sb-1 .sb__caption .description {
  color: #fff;
}

.sb .sb__caption .description {
  font-size: 11px;
}

.sb--widget .sb__preview {
  padding-bottom: 0;
}

.sb .slick--widget .sb__preview {
  min-height: 40px;
}

.sb__upload .sb__caption img {
  width: auto;
}

.sb .sb__label {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
  width: 100%;
  padding: 5px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 300;
}

/**
 * Entity browser.
 */
.sb--widget .slick__slide.item-container {
  display: block;
  margin: 0;
  padding: 0;
}

.sb .slick--wrapper {
  min-height: 210px;
}

.sb .sb__display .slick--widget {
  padding-bottom: 32px;
}

.slick-browser-rendered-entity .sb__preview,
.slick-browser-label .sb__preview {
  padding: 15px;
}

.slick-browser-rendered-entity figure,
.slick-browser-rendered-entity iframe,
.slick-browser-label figure,
.slick-browser-label iframe {
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.sb--wrapper-modal > .details-wrapper > p {
  padding-left: 15px;
}

@media (min-width: 64em) {
  .is-sb-grid .sb__display,
  .is-sb-column .sb__display {
    padding: 15px; /* Claro */
  }

  .sb.is-sb-1 .sb__caption {
    position: absolute;
  }

  .slick-wrapper {
    overflow: hidden;
  }

  .sb .sb__display .slick--widget {
    padding-bottom: 0;
  }

  .slick-wrapper--tn-left .slick--thumbnail {
    left: 0;
    float: left;
    width: 20%;
  }

  .slick-wrapper--tn-left .slick--main {
    margin-left: 20%;
  }

  .slick-wrapper--tn-right .slick--thumbnail {
    right: 0;
    float: right;
    width: 20%;
  }

  .slick-wrapper--tn-right .slick--main {
    margin-right: 20%;
  }

  .slick-wrapper--tn-overlay .slick--main {
    margin-right: auto;
    margin-left: auto;
  }

  .slick-wrapper--tn-overlay .slick--thumbnail {
    position: absolute;
    z-index: 9;
    top: 0;
    overflow: hidden;
    height: 100%;
    max-height: 90%;
  }

  .slick-wrapper--tn-over-top .slick--thumbnail {
    width: 100%;
    height: auto;
    max-height: none;
  }

  div[class*="slick-wrapper--tn"] .slick__slider::after {
    clear: none;
  }

  .no-touchevents .sb__display .sb__action {
    visibility: hidden;
  }

  .no-touchevents .is-sb-single .sb__display .sb__action,
  .no-touchevents .sb__display:hover .sb__action {
    visibility: visible;
  }
}
