$color_1: #FFF;
$background-color_1: #abaeb7;
$background-color_2: #FFFFFF;

#shareIcons {
	position: relative;
}
#shareContainer {
	position: fixed;
	right: 10px;
	display: block;
    bottom: 10px;
	z-index: 1;
}
div#shareButton {
	background-repeat: no-repeat;
	float: right;
	margin-right: 10px;
	margin-bottom: 14px;
	background-color: $background-color_1;
	padding: 14px 14px 14px 15px;
	border-radius: 3px;
	color: $color_1;
	text-decoration: none;
	opacity: 0.75;
	height: 53px;
	width: 53px;
	background-position: 56% 46%;
}
#shareBubble {
	background-color: $background-color_2;
	height: 140px !important;
	width: 325px;
	display: none;
	z-index: 10;
	position: absolute;
	bottom: 0;
	right: 53px;
	border: 1px solid #e3e3e3;
	h4 {
		line-height: 1.8em;
		padding: 10px 10px 8px 10px;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		font-size: 18px;
	}
}
.share_link {
	padding: 0 10px 10px 10px;
	input {
		width: 100%;
		padding: 5px;
	}
}
.share_link_buttons {
	float: right;
	padding: 3px;
	margin-top: -4px;
	margin-right: 7px;
}
