/**
 * @file
 */

/* csslint "box-sizing": true, "box-model": true, ids: true */
@media (min-width: 64em) {
  .is-sb-text .slick--skin--classic .sb__caption {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    box-sizing: border-box; /* dups due to csslint ignoring inheritance */
    width: 32%;
    height: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
  }

  .is-sb-text .slick--skin--classic label,
  .is-sb-text .slick--skin--classic .description {
    color: #fff;
  }

  .is-sb-text .slick--skin--classic .form-text {
    width: 100%;
  }

  .is-sb-text .slick--skin--classic .form-text:focus {
    position: relative;
    width: 420px;
    max-width: 420px;
    transition: width 0.5s;
  }
}
