$color_1: #fff;
$color_2: #003366;
$color_3: #575757;
$color_4: #036;
$color_5: #656666;
$color_6: #726A6F;

/* kishan */
/* About us page */
/* Perfomance and Planing */
/* get Support and service plan */
/* service plan */
/* GET support */
/* Ppr template resources css */
/* annual service plan */
/* Banner */
/* Banner */
/* home page our workspace col-sm-12 col-lg-5 col-md-12, col-sm-12 col-lg-7 col-md-12 change bootstrap */
/* home page video section col-sm-12 col-lg-5 col-md-12, col-sm-12 col-lg-7 col-md-12 change bootstrap */
/* home page Perfomance Planning section col-sm-12 col-lg-5 col-md-12, col-sm-12 col-lg-7 col-md-12 change bootstrap */
/* home page Latest News Section news slider set margin for mobile view */
@media (min-width: 0px) and (max-width: 767px) {
	#navigation-menu {
		#block-cas-headermenu-3 {
			display: block;
		}
		background: unset !important;
		a {
			font-size: 12px !important;
		}
		div#block-cas-mainnavigation {
			display: none;
		}
	}
	.additional-details {
		#block-cas-headermenu-2 {
			display: none;
		}
		#superfish-main-accordion {
			li#main-menu-link-contentb2ad08fe-36a9-4676-bb04-fc1ef0ce603c-accordion {
				margin-top: 80px;
			}
		}
		padding-left: unset;
		padding-right: unset;
		justify-content: unset !important;
		display: unset !important;
		justify-content: unset !important;
		margin-top: unset !important;
		#block-cas-mainnavigation-2 {
			display: block !important;
		}
		#search-block-form {
			input#edit-keys {
				display: none;
			}
		}
		.navbar-nav {
			a.nav-link {
				font-size: 12px;
			}
			li {
				margin-right: 26px !important;
			}
		}
	}
	#block-cas-headermenu-3 {
		ul.nav.navbar-nav {
			flex-direction: unset;
			margin-left: 20px;
		}
		li.nav-item {
			margin-right: 36px !important;
		}
		.navbar-nav {
			li {
				&:nth-child(1) {
					&::before {
						content: "";
						background: url(..//images/Support-mob.png)no-repeat;
						position: absolute;
						width: 25px;
						height: 25px;
						margin-left: -27px;
						margin-top: 2%;
					}
				}
				&:nth-child(2) {
					&::before {
						content: "";
						background: url(..//images/service-mob.png)no-repeat;
						position: absolute;
						width: 25px;
						height: 25px;
						margin-left: -27px;
						margin-top: 2%;
					}
					&::after {
						content: "|";
						position: absolute;
						transform: translateY(-100%);
						margin-left: -38px !important;
						font-size: 17px;
					}
				}
				&:nth-child(3) {
					&::before {
						content: "";
						background: url(..//images/contact-mob.png)no-repeat;
						position: absolute;
						width: 25px;
						height: 25px;
						margin-left: -27px;
						margin-top: 2%;
					}
					&::after {
						content: "|";
						position: absolute;
						transform: translateY(-100%);
						margin-left: -38px !important;
						font-size: 17px;
					}
				}
			}
		}
	}
	a#superfish-main-toggle {
		width: 34px;
		height: 27px;
		font-size: 0px;
		background: url(../images/toggle.png) no-repeat;
		display: block;
		position: absolute;
		right: 30px;
		z-index: 999999;
		top: 27px;
	}
	.sf-accordion-toggle {
		a.sf-expanded {
			background: url(../images/close-mob.png) no-repeat !important;
			width: 45px !important;
			height: 46px !important;
			margin-top: -18px;
			position: fixed !important;
		}
	}
	ul#superfish-main-accordion {
		background: #FCBA19;
		z-index: 1111;
		margin-top: -52px;
		position: fixed;
		width: 100%;
		height: 100%;
	}
	#superfish-main-accordion {
		li {
			a {
				text-decoration: none;
				font-size: 16px;
				line-height: 28px;
				padding: 0.5em 5%;
				border-top: 1px solid #303030;
				width: 91%;
				margin-left: 15px;
			}
		}
		>li {
			&:first-child {
				>a {
					border-top: unset !important;
				}
			}
		}
		a {
			&::before {
				content: "• ";
				margin-right: 5px;
				font-size: 20px;
				color: $color_1;
				margin-left: 9px;
			}
		}
	}
	.footer {
		padding: unset !important;
	}
	.footer-left {
		padding-left: unset !important;
	}
	$color_1: #fff;

.footer-bottom {
	ul {
		a {
			line-height: unset !important;
		}
	}
}

	.newslatter-right {
		overflow: hidden;
	}
	.banner {
		overflow: hidden;
	}
	.image-border {
		&:before {
			width: unset !important;
		}
		&:after {
			width: unset !important;
		}
	}
	.imageleftside {
		&:before {
			width: 12.6rem !important;
		}
		&:after {
			width: 12.6rem !important;
		}
	}
	.imagerightside {
		&:before {
			width: 12.6rem !important;
		}
		&:after {
			width: 12.6rem !important;
		}
	}
	.banner-title {

			font-size: 30px;
			line-height: 35px;
	}
	.banner-description {
		padding: 20px 10px;
		p {
			line-height: 29px;
		}
	}
	.banner-body {
		padding-left: 10px;
		padding-right: 10px;
	}
	div#block-cas-search-form {
		position: absolute;
		right: 65px;
		top: 16px;
		left: unset;
	}
	.header {
		padding: 15px 0px;
	}
	#our-workplace-area {
		.left-workplace {
			.image-border {
				margin: 0px !important;
			}
		}
		.right-workplace {
			margin-top: 50px !important;
		}
	}
	#performance-report-area {
		.left-permorfance {
			.image-border {
				margin: 0px !important;
			}
		}
		.right-performance {
			margin-top: 50px !important;
		}
	}
	.subscribe-text {
		input.btn {
			padding: unset;
			width: 100%;
		}
	}
	.newslatter-left {
		img {
			width: 100% !important;
		}
	}
	.our-organ {
		p {
			padding: 20px;
		}
	}
	.right-work {
		.work-about {
			line-height: 40px;
			padding: 15px;
		}
	}
	.view-who-we-serve {
		.views-col {
			width: 100% !important;
			.views-field-title {
				a {
					font-size: 18px;
					color: $color_2;
					line-height: 18px;
					font-weight: 700;
				}
				padding: 13px;
				min-height: 110px;
			}
		}
	}
	#main_content_area {
		.sidebar {
			width: 100%;
			width: 100% !important;
			order: 2;
		}
		#midcontent_area {
			width: 100%;
			width: 100% !important;
			order: 1;
			margin-top: 0;
		}
	}
	.view-performance-planning-and-reporting {
		.views-row {
			.views-field-field-description {
				img {
					width: 100%;
					height: auto;
				}
				padding-left: 0px;
			}
			.views-field-field-icon {
				float: left;
				margin-right: 15px;
				margin-bottom: 0px;
			}
			.views-field-field-title {
				display: block;
				margin-bottom: 20px;
				font-size: 20px;
			}
		}
	}
	div#block-cas-onthispage {
		display: block;
		>h2 {
			margin-bottom: 20px;
		}
	}
	ul.on-this-page {
		list-style: none;
		padding-left: 0;
	}
	.custom-block {
		img.img-fluid {
			width: 228px;
			height: 89px;
			border-radius: 7px;
			background: #FFF;
			padding: 20px;
			margin-top: 70px;
		}
		text-align: center;
	}
	div#main_content_area {
		display: flex;
		flex-direction: column;
	}
	#block-cas-views-block-service-plans-block-2 {
		display: block;
		margin-bottom: 10px;
		h2 {
			color: $color_3;
			font-size: 31px;
			text-align: center;
			margin-bottom: 15px;
		}
		.view-id-service_plans {
			padding: 0px 0px 0px 0px;
			justify-content: center;
			display: grid;
			.views-row {
				.onthis-page {
					a {
						color: $color_4;
						font-size: 16px;
					}
				}
				padding-bottom: 11px;
			}
		}
	}
	.view-id-service_plans {
		a {
			color: $color_4;
			font-size: 19px;
		}
		padding-top: 30px;
	}
	.view-service-plans {
		.views-row {
			.views-field-field-title {
				display: block;
				margin-bottom: 0px;
				font-size: 20px;
			}
			.views-field-field-icon {
				float: left;
				margin-right: 15px;
				margin-bottom: 0px;
			}
			.views-field-field-description {
				padding-left: 0px;
				font-size: 15px;
				color: $color_5;
				line-height: 24px;
				padding-top: 20px;
				a {
					font-size: 15px;
				}
			}
		}
	}
	#block-cas-views-block-get-support-block-2 {
		display: block;
		margin-bottom: 10px;
		h2 {
			color: $color_3;
			font-size: 25px;
			text-align: center;
			margin-bottom: 17px;
		}
	}
	.view-get-support {
		.views-row {
			.views-field-field-title {
				display: block;
				margin-bottom: 0px;
				font-size: 20px;
			}
			.views-field-field-icon {
				float: left;
				margin-right: 15px;
				margin-bottom: 0px;
			}
			.views-field-field-description {
				padding-left: 0px;
				font-size: 15px;
				color: $color_5;
				line-height: 24px;
				padding-top: 20px;
			}
		}
	}
	#views-exposed-form-cabro-ppr-portfolio-block-1 {
		.form--inline {
			padding-left: 0;
		}
	}
	.view-id-get_support {
		a {
			color: $color_4;
			font-size: 15px;
			font-style: normal;
			font-weight: 700;
			line-height: 35px;
		}
	}
	.view-id-cabro_ppr_portfolio {
		.view-content {
			position: relative;
			overflow-y: auto;
			margin-bottom: 20px;
		}
	}
	div#block-cas-breadcrumbs {
		justify-content: center;
		display: flex;
		margin-top: 7px;
		margin-bottom: 7px;
	}
	.region-service-plan {
		display: unset;
	}
	div#block-cas-pprtools {
		display: unset !important;
		border: unset !important;
	}
	#tools {
		width: 100% !important;
		border: 1px solid #E5E5E5;
		border-radius: 20px;
		margin-bottom: 40px;
	}
	.tools {
		#block-cas-pprtools {
			.field--name-body {
				a {
					font-size: 14px;
				}
			}
		}
	}
	#block-cas-pprtools {
		h2 {
			text-align: center;
		}
	}
	.service_plan {
		width: 100%;
		padding-left: unset !important;
	}
	#block-cas-views-block-quick-links-service-plan {
		margin-right: unset;
	}
	.block-views-blockquick-links-annual-service {
		h2 {
			font-size: 21px;
		}
		margin-left: unset;
		word-break: break-all;
	}
	body.sidebar-first {
		#midcontent_area {
			>#content {
				padding-left: unset;
			}
		}
	}
	.block-views-blockperformance-planning-and-reporting-block-4 {
		display: block;
		margin-bottom: 10px;
		h2 {
			color: $color_3;
			font-size: 31px;
			text-align: center;
			margin-bottom: 15px;
		}
		.view-display-id-block_4 {
			padding: 0px 0px 0px 0px;
			justify-content: center;
			display: grid;
		}
	}
	body.path-innerpage.not-front.path-user.no-sidebars {

	   height: unset !important;
	}


	.path-user {
		#maindiv {
			width: 100%;
			height: unset !important;
			overflow: unset !important;
		}
	}
	.left-login {
		width: 100% !important;
		float: unset !important;
		background: #F1B82D;
		padding: 30px;
		height: unset !important;
		border-radius: 50px !important;
		img {
			width: 100%;
			height: auto;
		}
	}
	form#user-login-form {
		width: 100% !important;
		float: unset !important;
		background: #fff;
		padding: 0px 31px;
		background: var(--Color-Base-White, #FFF);
		border-radius: 50px;
		height: 500px;
		margin-bottom: 50px;
	}
	.logo-login {
		text-align: center;
	}
	.logo-intranet-bc {
		text-align: center;
	}
	div#block-cas-userloginlogo {
		margin-bottom: 30px;
	}
	.footer-logo-wrapper {
		background: #F5F5F5;
	}

ul#superfish-main-accordion {
	width: auto !important;
}
#block-cas-headermenu-3 {
	ul.nav.navbar-nav {
		flex-direction: unset;
		margin-left: 0px;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		margin-bottom: 15px;
	}
	li.nav-item {
		margin-right: 10px !important;
		border-right: 1px solid;
	}
	.navbar-nav {
		li {
			&:nth-child(2) {
				&::after {
					display: none;
				}
				&::before {
					content: "";
					background: url(..//images/service-mob.png)no-repeat;
					position: absolute;
					width: 25px;
					height: 25px;
					margin-left: 0px;
					margin-top: 0%;
				}
			}
			&:nth-child(3) {
				&::after {
					display: none;
				}
				&::before {
					content: "";
					background: url(..//images/contact-mob.png)no-repeat;
					position: absolute;
					width: 25px;
					height: 25px;
					margin-left: 0px;
					margin-top: 0%;
				}
				border: none;
			}
			&:nth-child(1) {
				&::before {
					content: "";
					background: url(..//images/Support-mob.png) no-repeat;
					position: absolute;
					width: 25px;
					height: 25px;
					margin-left: 0px;
					margin-top: 0%;
				}
			}
		}
	}
}
#block-cas-crownagenciessecretariat {
	padding: 20px 0px !important;
}
.right-performance {
	.view-more {
		margin-top: 35px;
	}
}

	

}
@media (min-width: 320px) and (max-width: 450px) {
	.banner-image {
		.img-fluid {
			width: 100% !important;
			min-height: 318px;
		}
	}
	.banner-body {
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	.banner-title {
			font-size: 23px !important;
			line-height: 24px !important;
	}
	.banner-description {
		p {
			line-height: 25px !important;
			font-size: 15px !important;
		}
		padding: 11px 10px;
	}
}
@media (min-width: 451px) and (max-width: 767px) {
	.banner-image {
		.img-fluid {
			width: 100% !important;
			min-height: 320px;
		}
	}
	.banner-title {
			font-size: 26px !important;
			line-height: 29px !important;

	}
	.banner-description {
		p {
			line-height: 20px !important;
			font-size: 16px !important;
		}
		padding: 12px 10px;
	}
}
@media (min-width: 320px) and (max-width: 767px) {
	.banner {
		position: relative;
		margin-bottom: 60px;
	}
	.left-description {
		h2 {
			font-size: 35px;
			text-align: center;
			margin-bottom: 13px;
			margin-top: 10px;
		}
		p {
			text-align: justify;
		}
		.view-more {
			text-align: center;
		}
	}
	#block-cas-ourworkplace {
		padding: 0rem 0 2rem;
	}
	#crown-secretariat-area {
		padding: 30px 0px;
		.view-more {
			text-align: center;
		}
	}
	.right-description {
		h2 {
			font-size: 39px;
			text-align: center;
			margin-bottom: 13px;
			line-height: 50px;
		}
		p {
			color: $color_6;
			text-align: justify;
			font-size: 18px;
			line-height: 35px;
		}
	}
	#block-cas-performanceplanningandreporting {
		padding: 30px 0px;
		.view-more {
			text-align: center;
		}
	}
	.right-performance {
		h2 {
			font-size: 35px;
			text-align: center;
			margin-bottom: 13px;
			margin-top: 10px;
			line-height: 46px;
		}
		p {
			text-align: left;
		}
		li {
			color: $color_5;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 30px;
		}
	}
	#latest-news-area {
		padding: 2rem 0 4.5rem;
	}
	#block-cas-views-block-news-block-1 {
		h2 {
			font-weight: 700;
			line-height: 57px;
			font-size: 32px;
		}
	}
	.mandate-letter {
		img {
			width: 100%;
			height: auto;
		}
	}
}
@media only screen and (min-width: 658px) and (max-width: 768px) {
	#our-workplace-area {
		.left-workplace {
			.image-border {
				margin: 10px !important;
			}
		}
	}
}

@media only screen and (min-width: 0px) and (max-width: 600px)  {

	.news-img {
		img.img-fluid {
			width: 100%;
		}
	}
	.news-body {
		min-height: auto;
		padding-top: 15px;
		padding-left: 20px;
		padding-right: 20px;
	}
	
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
	.news-img {
		img.img-fluid {
			width: 100%;
		}
	}
	.news-body {
		min-height: 9.5rem;
		padding-top: 15px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.slick-initialized {
		.slick-slide {
			padding: 10px;
		}
	}
}

@media only screen and (min-width: 660px) and (max-width: 767px) {
	.image-border {
		&:before {
			width: 28.4rem !important;
		}
		&:after {
			width: 28.4rem !important;
		}
	}
}

@media only screen and (min-width: 0px) and (max-width: 336px) {
	#block-cas-headermenu-3 {
		ul.nav.navbar-nav {
			li {
				&:nth-child(1) {
					margin-bottom: 15px;
					margin-bottom: 15px;
				}
			}
		}
	}
}
@media only screen and (min-width: 0px) and (max-width: 365px) {
	#block-cas-headermenu-3 {
		ul.nav.navbar-nav {
			li {
				a {
					font-size: 11px !important;
					padding-top: 0px;
					padding-bottom: 0px;
					padding-right: 5px;
					padding-left: 26px;
				}
			}
		}
	}
}
@media only screen and (min-width: 366px) and (max-width: 550px) {
	#block-cas-headermenu-3 {
		ul.nav.navbar-nav {
			li {
				a {
					font-size: 13px !important;
					padding-top: 0px;
					padding-bottom: 0px;
					padding-right: 5px;
					padding-left: 26px;
				}
			}
		}
	}
}
@media only screen and (min-width: 551px) and (max-width: 767px) {
	#block-cas-headermenu-3 {
		ul.nav.navbar-nav {
			margin-top: 10px;
			li {
				a {
					font-size: 15px !important;
					padding-top: 0px;
					padding-bottom: 0px;
					padding-right: 11px;
					padding-left: 26px;
					font-size: 15px !important;
					padding-top: 0px;
					padding-bottom: 0px;
					padding-right: 11px;
					padding-left: 26px;
				}
			}
		}
		li.nav-item {
			margin-right: 15px !important;
			border-right: 1px solid;
			margin-right: 15px !important;
			border-right: 1px solid;
		}
	}
}

@media (min-width: 320px) and (max-width: 370px){
	#superfish-main-accordion li a {
		padding: 0.5em 0% !important;
		font-size: unset;
	}
}


@media only screen and (min-width: 320px) and (max-width: 700px) {
	#our-workplace-area {
		.views-col {
			width: 100% !important;
			margin-bottom: 20px;
		}
		.cas-card {
			.card-title {
				margin-top: 20px;
				margin-bottom: 10px;
				min-height: auto;
			}
		}
	}
}
$color_1: #003366;

@media only screen and (min-width: 0px) and (max-width: 767px) {
	.quick-left {
		h1 {
			font-size: 35px;
			line-height: 1.2;
			color: $color_1;
			text-align: left;
			width: 100%;
			margin: 0 auto;
			font-weight: 500;
			padding-top: 20px;
			padding-bottom: 15px;
		}
	}
}
