{#
/**
 * @file
 * Theme override to display a single component.
 *
 * footer area template
 */
#}
{% if page.footer_top and page.footer_bottom %}
<div class="footer-wrapper">

  <div class="footer">
  <div class="container">
    <div class="row">
       {% if page.footer_top %}
       <div class="col-sm-12 footer-top">{{ page.footer_top }}</div>
       {% endif %}
       {# {% if page.footer_right %}
       <div class="col-sm-6 footer-right">{{ page.footer_right }}</div>
       {% endif %} #}
    </div>
    </div>
    {% if page.footer_bottom %}
       <div class="container">
       <div class="footer-bottom">{{ page.footer_bottom }}</div>
       </div>
    {% endif %}
  </div>

</div>
{% endif %}

{% if page.footer_login %}
<div class="footer-logo-wrapper">
<div class="container">
       <div class="footer-login">{{ page.footer_login }}</div>
       </div>
</div>
{% endif %}



